@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

:root {
    --primary-color: #171717;
    --secondary-color: #333333;
    --terciary-color: #131313;
    --light-color: #FFFFFF;
    --highlight-color: orange;
    --font-inter: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px 0px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 35px 0px;
}

.main {
    background-color: #9b9b9b;
    height: 100vh;
}

.offers-section {
    background-color: #00ff15;
    height: 1000px;
}

.main-offers-div {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    height: 42.5%;
    padding-bottom: 100px;
}

.main-offers-title {
    text-align: center;
    color: var(--light-color);
}

.main-offers-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.favorite-offers-div { 
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    height: 42.5%;
}

.favorite-offers-title {
    text-align: center;
    color: var(--light-color);
}

.favorite-offers-container {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* 
    Cards
*/

.hotel-card {
    width: 195px;
    height: 240px;
    background-color: var(--light-color);
    border-radius: 15px;
    overflow: hidden;
}

.hotel-info {
    padding: 5px 10px;
}

.hotel-price {
    margin-top: 6px;
    font-size: 16px;
    font-weight: bold;
}

.hotel-rating {
    display: flex;
    gap: 2px; 
}

.price-highlight {
    color: var(--highlight-color); 
    font-weight: bold;
}

.star-icon {
    width: 16px; 
    height: 16px;
    object-fit: contain;
}

.hotel-image {
    width: 100%;
}

/* 
    Search Section
*/

.search-div {
    background-color: var(--primary-color);
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.filters-div {
    display: flex;
    gap: 40px;
}

.filter-label {
    font-size: 20px;
    font-weight: 400;
    color: var(--light-color);
    font-family: var(--font-inter);
}


/* 
    Search Input
*/

.search-input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0px 8px;
    background-color: var(--secondary-color);
    height: 50px;
    width: 360px;
}

.search-icon-img {
    width: 25px; 
    height: 25px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 10px;
}

.search-input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: var(--secondary-color);
    color: #B0B0B0;
    height: 20px;
}

/* 
    Filters Input
*/

/* Padronizando as divs de filtros */
.check-in-div, .check-out-div, .adult-div, .child-div, .room-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px; 
}

/* Padronizando wrappers */
.number-input-wrapper, .date-input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px;
    width: 100%; 
    height: 40px; 
    gap: 8px; 
}

/* Padronizando icones */
.number-icon-img, .calendar-icon-img {
    font-size: 16px;
    color: var(--light-color);
    width: 20px; 
    height: 20px;
}

/* Padronizando inputs */
.number-input, .datepicker {
    border: none;
    outline: solid 1px #888;
    border-radius: 3px;
    font-size: 14px;
    color: var(--light-color);
    background-color: transparent;
    text-align: center;
    width: 100%;
}

.number-input{
    text-align: start;
    padding-left: 10px;
}

.datepicker {
    cursor: pointer;
}